BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 81
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
NamespaceIndentation: None
SortIncludes: true
IncludeBlocks: Regroup
